footer{
  background-color: #000000;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  text-align: center;
  color: #ffffff;
}

footer p {
  padding: 10.5px;
  margin: 0px;
  line-height: 100%;
}

footer p a {color: #ffffff}
