<div class="container">
  <div class="page-header">
    <h1>Jobs Scraper Beta</h1>
    <p class="lead">Three component jobs scraper from: www.job-room.ch</p>

    <p>www.job-room.ch has is search results limited to 100 records, hence the need to scrap the results in a separated database
    to have all results displayed.</p>

    <p> due to this limitation is also not possible to store all the job records, so the web app only stores 3 different
    types: all jobs in Ticino, all jobs with the keywords "web", "online" and "digital". The different types are
    correctly labeled in the results page.</p>


  </div>

  <h3>GitHub repositories:</h3>
  <p>Python scraper and SQLite management: <a href="https://github.com/anxillo/ScrapJobs" target="_blank">
    https://github.com/anxillo/ScrapJobs</a>
  </p>

  <p>RESTful PHP API for SQLite (third party): <a href="https://github.com/alixaxel/ArrestDB/" target="_blank">
    https://github.com/alixaxel/ArrestDB/</a>
  </p>

  <p>AngularJS frontend: <a href="https://github.com/anxillo/Jobs" target="_blank">
    https://github.com/anxillo/Jobs</a>
  </p>

</div>
