
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
    </button>
    <a class="navbar-brand" href="#">
      <img class="d-inline-block align-top" alt="" src="../../assets/jobs32.png" height="32" width="32"/> Jobs
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerMenu">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/dashboard/1">List</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
      <span class="pull-right col-sm-12 col-md-12 col-lg-4"><app-search></app-search></span>
    </div>
</nav>

