<div class="container h-100 d-flex justify-content-center">
  <app-pagination></app-pagination>
</div>


<table class="table table-striped">

  <tr *ngFor="let job of jobs">
    <td>
      <span class="media-meta pull-right">{{job.time *1000 | date:'dd.MM.yyyy'}}</span>

      <h4 class="title">
        <a href="{{job.link}}" target="_blank">{{job.title}}
        </a>
      </h4>
      <p class="firm">

        {{job.firm}}
        <span><a href="{{detailUrl}}{{job.jobs_id}}" target="_blank" role="button" class="pull-right btn  btn-sm">
        <i class="fa fa-file-text-o fa-lg" aria-hidden="true"> </i>
      </a></span>
        <span class="badge badge-warning">{{job.searchword}}</span>
        <span class="badge badge-success">{{job.location}}</span>
      </p>
    </td>

  </tr>
</table>





